.pkg-main {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1031%26quot%3b)' fill='none'%3e%3cpath d='M454.39 324.19L478.23 324.19L478.23 340.3L454.39 340.3z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1187.83 152.03L1237.71 152.03L1237.71 182.89L1187.83 182.89z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M589.35 500.72L612.58 500.72L612.58 545.14L589.35 545.14z' fill='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M725.73 135.62a8.84 8.84 0 1 0-6.45-16.46z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M645.01 225.74L699.28 225.74L699.28 280.01L645.01 280.01z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M857.73 302.7 a46.85 46.85 0 1 0 93.7 0 a46.85 46.85 0 1 0 -93.7 0z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M39.87 366.61 a33.72 33.72 0 1 0 67.44 0 a33.72 33.72 0 1 0 -67.44 0z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M69.23 170.87L88.47 170.87L88.47 190.11L69.23 190.11z' stroke='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M1125.15 339.44 a38.38 38.38 0 1 0 76.76 0 a38.38 38.38 0 1 0 -76.76 0z' stroke='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M311.91 415.17L361.41 415.17L361.41 442.45L311.91 442.45z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M773.87 515.59a11.75 11.75 0 1 0 13.8-19.03z' fill='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M981.11 318.64L988.28 318.64L988.28 351.72L981.11 351.72z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M151.71 122.91L191.42 122.91L191.42 162.62L151.71 162.62z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1452.31 124.43a38.37 38.37 0 1 0-39.18 65.98z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M384.63 559.93L392.57 559.93L392.57 608.19L384.63 608.19z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1368.44 415.63L1409.04 415.63L1409.04 465.72L1368.44 465.72z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M1430.33 272.3L1464.04 272.3L1464.04 327.35L1430.33 327.35z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M1180.52 349.91L1201.29 349.91L1201.29 361.52L1180.52 361.52z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1083.58 503.9 a26.26 26.26 0 1 0 52.52 0 a26.26 26.26 0 1 0 -52.52 0z' fill='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M855.12 45.77L876.31 45.77L876.31 54.77L855.12 54.77z' fill='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M15.59 353.71 a4.17 4.17 0 1 0 8.34 0 a4.17 4.17 0 1 0 -8.34 0z' fill='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M1196.34 16.01L1225.82 16.01L1225.82 45.49L1196.34 45.49z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M298.01 163.27a49.36 49.36 0 1 0-46.47 87.1z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M870.22 478.61L885 478.61L885 493.39L870.22 493.39z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M467.22 374.76a6.48 6.48 0 1 0-8.5 9.78z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M11.1 14.56 a20.97 20.97 0 1 0 41.94 0 a20.97 20.97 0 1 0 -41.94 0z' fill='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M220.63 349.42 a28.1 28.1 0 1 0 56.2 0 a28.1 28.1 0 1 0 -56.2 0z' fill='rgba(153%2c 131%2c 6%2c 1)'%3e%3c/path%3e%3cpath d='M301.81 132.8a31.72 31.72 0 1 0-55.12-31.4z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M557.35 384.97L564.05 384.97L564.05 422.26L557.35 422.26z' fill='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M864.16 508.46a19.96 19.96 0 1 0 18.23 35.52z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M1398.76 155.51L1450.23 155.51L1450.23 197.65L1398.76 197.65z' fill='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M651.78 327.7L659.94 327.7L659.94 335.86L651.78 335.86z' stroke='rgba(19%2c 3%2c 123%2c 1)'%3e%3c/path%3e%3cpath d='M1250.26 537.64 a22.8 22.8 0 1 0 45.6 0 a22.8 22.8 0 1 0 -45.6 0z' fill='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1031'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card {
  border: none !important;
  box-shadow: 0 0 30px rgb(17 17 17 / 8%);
}

.pakage-title h6 {
  font-size: 20px;
  color: #ff7f47;
  font-weight: 700;
  margin-top: 50px;
}

.pakage-title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 50px;
}

.price h6,
p {
  font-weight: 700;
  color: #315048;
}

.price h6 span {
  color: #315048;
  font-size: 20px;
}

.card-title {
  color: #ff8048;
  font-size: 23px;
}

.rating i {
  color: #ff8048;
}

.card-body button {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 700;
  background: rgba(128, 128, 128, 0.63);
  font-size: 15px;
}

.card-body button:hover {
  background: #ff8048;
  color: #fff;
}
