/* .mnn {
  border: 2px solid red;
  justify-content: space-between;
}
.lnn {
  border: 2px solid red;
} */

/* color:rgb(161, 160, 160); */
/* border:2px solid red; */
/* .nav a{
    color:#1738b3;
} */

.user-name a {
  text-decoration: none;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.55) !important;
}
